{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="logo">
            <img src="{{ asset('images/novaWear-logo.png') }}" alt="NOVAWEAR">
        </div>
        <nav>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Rechercher">
            <button type="submit"><img src="{{ asset('images/Search-icon.jpg') }}" alt="Rechercher"></button>
        </div>
        <div class="icons">
            <img src="{{ asset('images/user.jpg') }}" alt="User">
            <img src="{{ asset('images/heart-icon.webp') }}" alt="Favorites">
            <img src="{{ asset('images/Basket.png') }}" alt="Basket">
        </div>
    </header>
    
    <footer>
        <p>&copy; 2025 Novawear - Tous droits réservés.</p>
        <nav>
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('femmes') }}">Femmes</a>
            <a href="{{ path('hommes') }}">Hommes</a>
        </nav>
    </footer>
{% endblock %}